
#Noticias{
    padding-top: 2%;
    width: 100%;
}
.Card2{
    margin: 1% 1%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(52, 68, 68, 0.25);
    height: 300px;
    width: 80%;
    display: flex;

}
.CardImg2{
    width: 20%;
    object-fit: contain;
    border-radius: 8px;
}
.IzqCard{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Boton{
    border: none;
    outline: 0;
    padding: 1% 1.5%;
    color: black;
    background-color: #EDE88C;
    box-shadow: 2px 2px 2px rgba(52, 68, 68, 0.555);
    text-align: center;
    cursor: pointer;
}


@media (max-width: 600px) {
    .Card2{
        margin-top: 5%;
        height: auto;
        flex-direction: column;
        padding: 0%;
        align-items: center;
    }
    .IzqCard{
        width: 90%;
    }
    .CardImg2{
        width: 100%;
        border-radius: 8px 8px 0px 0px;
        
    }
    .Boton{
        padding: 3% 5%;
        margin-bottom: 5%;
    }
}