
#Noticias{
    padding-top: 2%;
    width: 100%;
}
.Card2{
    margin: 1% 1%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(52, 68, 68, 0.555);
    height: 300px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
